@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

body, html {
  height: 100%;
}

.page1 {
  background-color: palevioletred;
}


.page2 {
  background-color: blanchedalmond;
}

.page3 {
  background-color: aquamarine;
}

.page4 {
  background-color: cornflowerblue;

}

nav {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  text-align: center;

}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
  margin: auto;
  align-self: center;
}


.page0, .page1, .page2, .page3, .page4 {
  padding-top: 3rem;  /* adjust as per the height of your nav */
  height: 100vh;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

h2 {
  font-size: xx-large;
  text-decoration: underline;
}

h2:hover {
  text-decoration: none;
}